.create-post {
  width: 80%;
  margin: 1rem auto;
  border-radius: 3rem;
  border: 1px solid #333;
  padding: 1.5rem;
}

.post-inputs {
  display: flex;
}

.left-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.right-box {
  width: 50%;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box input {
  width: 80%;
}

.input-box textarea {
  width: 100%;
}

.create-buttons {
  /* border: 2px solid red; */
  width: 15%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.create-buttons button {
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
}
