.filter-tabs {
  margin-top: 8.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2.5rem;
}

.filter-btn {
  font-size: 1.75rem;
  border-radius: 2rem;
  width: 10rem;
  transition: transform 0.2s ease;
}

.filter-btn:hover {
  transform: scale(1.1);
}
